{% extends "index.html" %}
{% block title %}Categories for {{ SITENAME }}{% endblock %}
{% block ogtitle %}Categories for {{ SITENAME }}{% endblock %}
{% block ogurl %}{{ SITEURL }}/categories.html{%endblock%}
{% block canonicalurl %}{{ SITEURL }}/categories.html{%endblock%}

{% block content %}
<div class="span9">
    <section>
    <h1>{% block content_title %}Categories for {{ SITENAME }}{% endblock %}</h1>

    <dl>
    {% for category, articles in categories %}
        <dd><a href="{{ SITEURL }}/{{ category.url }}">{{ category }} ({{ articles|count }})</a></dd>
    {% endfor %}
    </dl>
    </section>
</div>
{% endblock %}
